APP_HOST=0.0.0.0
APP_PORT=3000
API_PREFIX=api

FRONTEND_API_URL=http://localhost:3000/api
VITE_API_URL=http://localhost:3000/api

POSTGRESQL_USERNAME=postgresql
POSTGRESQL_PASSWORD=postgresql
POSTGRESQL_DATABASE=postgresql
POSTGRESQL_HOST=development_postgresql
POSTGRESQL_PORT=5432

DATABASE_URL="mongodb://mongodb:mongodb@development_mongodb:27017/mongodb?authSource=admin"
